@charset "utf-8";

html,
body,
* html body {}


/* common */
html { 
	-webkit-text-size-adjust:none; 
}
html, body { padding:0; margin:0; width:100%; height:100%; }
body { font-style:normal; font-size:12px; 
		font-family:"dotum", "Malgun Gothic", "Apple SD Gothic Neo", "AppleGothic", helvetica, arial, sans-serif; 
		line-height:1.65; color:#292929; background-color:#ffffff; 
	}
